<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration status="all" monitorInterval="180">
	<appenders>
		<RollingFile name="RollingFileAll" fileName="c:/temp/logicgame.log" filePattern="c:/temp/logicgame-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
      		<PatternLayout pattern="%msg%n"/>
      		<Filters>
    			<ThresholdFilter level="DEBUG"/>
    			<ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
    	</Console>
	</appenders>
	<Loggers>
		<Logger name="todos" additivity="true">
			<AppenderRef ref="Console"/>
      		<AppenderRef ref="RollingFileAll"/>
    	</Logger>
    	<root level="all">
			<appender-ref ref="Console" />			
			<appender-ref ref="RollingFileAll" />
		</root>
  </Loggers>
</configuration>