.lg_main {
	margin: 0 auto;
}

.lg_ui-dialog-titlebar {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
	font-weight: bold;	
}

.lg_noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.lg_noresize {
    resize: none;
}

.lgui-icono {
	width: 32px;
	height: 32px;
}

.lg_tabla100 {
	width: 100%;
}


#lg_user, #lg_password, #lg_reg_user, #lg_reg_correo, #lg_reg_password, #lg_reg_password2 {
	width: 100%;
	padding: .5em;
	font-size: 1em;
	margin: 5px 0;
}

#lg_user:focus, #lg_password:focus, #lg_reg_user:focus, #lg_reg_correo:focus, #lg_reg_password:focus, #lg_reg_password2:focus {
	background-color: #fffee1;
}

#lg_btt_login, #lg_btt_cancel_registro, #lg_btt_registro {
	font-size: 1.2em;
	color: #FFF;
	background-color: #dd4817;
	margin: 10px 0;
	border: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: .5em 1em;
	cursor: hand;
}

#lg_btt_login:hover, #lg_btt_cancel_registro:hover, #lg_btt_registro:hover {
	background-color: #1072cf;
}

#lg_btt_facebook {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #fff;
	background-color: #3b5998;
	margin: 25px 0;
	border: 0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: .5em 1em;
}

#lg_btt_resetClave, #lg_btt_registrarse {
	font-weight: bold;
	color: black;
	background-color: #fff;
	border: 0;
}

#lg_btt_resetClave:hover, #lg_btt_registrarse:hover {
	color: #dd4817;
}


#lg_dialogoError {
	background-color: #fde9f1;
	font-family: "Arial";
	font-size: 14px;
	font-weight: bold;
	display: none;	
}
#lg_error_msg {
	color: #bf2026;
	text-align: left;
}
#lg_error_detalle_texto {
	color: #bf2026;
	font-family: "Arial";
	font-size: 14px;
	margin: 10px;
	min-width: 90%;
}


#lg_dialogoFinalizacion {
	background-color: #fcfcfc;
	color: black;
	font-family: "Arial";
	font-size: 14px;
	font-weight: bold;
	display: none;
}

#lg_panel_login, #lg_panel_registro, #lg_panel_ui_juego, #lg_dialogoConfiguracion {
	display: none;
}

#lg_tabla_ranking {
	color: #1072cf;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#lg_panelBarraTareas {
	margin: 10px;	
}

#lg_panelEspera {
	opacity: 0.9;
	z-index: 1;   
	position: absolute;
	top: 20px;
	display: none;
}

/** --------------------------------------------------------------------- */

#lg_panel_ui_juego {
	display: table;
} 

#lg_rankingDiv, #lg_juegoDiv, #lg_barraTareasDiv {
	display: table-cell;
}

#lg_rankingDiv, #lg_barraTareasDiv {
	vertical-align: bottom; 
	background: #fcfcfc; 
}

#lg_rankingDiv {
	margin: 2px;
}

.lg_celdaBarraTareas {
	padding: 4px;
}

@media screen and (max-width: 768px) {
	#lg_panel_ui_juego {
		display: table;
	}
	
	#lg_juegoDiv {
		display: table-header-group;		
	}
	
	#lg_rankingDiv {
		display: table-footer-group;
	}
	
	.lg_celdaBarraTareas {
		float: left;
	}
}